.statistics ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.statistics li {
  list-style-type: none; /* Убираем маркеры */
  font-size: 18px;
  font-weight: 600;
}

.statistics h3 {
  font-size: 24px;
}
